/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  font-size: 15px;
  font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  line-height: 1.8;
}

/* ここから編集 */
/* 全体に対して */
a {
  text-decoration: none;
  color: #111111;
}

ul {
  list-style: none;
}

.container {
  width: 1040px;
  margin:0 auto;
}

/* ************ヘッダー************ */
header {
  height: 150px;
  margin-top: 50px;
}

/* header-left */
.header-left {
  float: left;
}

.header-left h1 {
  font-size: 36px;
  line-height: 42px;
}

.header-left p {
  font-size: 18px;
}

/* header-right */
.header-right {
  padding-top: 45px;
  float: right;
}

/* gnav */
.gnav {
  padding: 0 200px 0 0;
}

.gnav li{
  float: left;
  font-size: 16.88px;
  padding: 0 15px;
  position: relative;
}

.gnav li ul {
  position: absolute;
  top: 45px;
  left: -5px;
  height: 0;
  visibility: hidden;
}

.gnav li:hover ul li {
  visibility: visible;
  opacity: 1;
}

.gnav li a{
  display: block;
  padding-bottom: 14px;
}

.gnav li a:hover {
  color: #c49029;
}

.gnav li li {
  width: 200px;
  border: 1px solid #f0f0f0;
  padding: 10px 20px 0 20px;
  box-shadow: 0.5px 0.5px #f0f0f0;
  background-color: white;
  opacity: 0;
  transition: all 0.3s;
}

.fas {
  margin-left: 10px;
}

/* 検索窓 */
.search-wrapper {
  height: 40px;
  display: inline-block;
  float: right;
  position: relative;
}

.search {
  height: 40px;
  width: 0;
  background: url(image/search-icon.png) left center no-repeat;
  background-size: 26px 26px;
  padding-left: 30px;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: -5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.search:focus {
  width: 220px;
  height: 34px;
  border: solid 1px #e0e0e0;
  background-color: white;
  cursor: text;
}

/* コンテンツ */
.top-wrapper {
  height: 780px;
}

.top-wrapper p {
  padding-top: 92px;
  font-size: 27px;
  color: #777;
}

/* メインラッパー */
.main-wrapper {
  height: 1440px;
}

.main-wrapper .container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 150px;
}

.date {
  float: left;
  margin-right: 220px;
  color: #999;
  font-size: 16.8px;
  padding-top: 10px;
  opacity: 0.5;
}

.date:hover {
  opacity: 1;
}

.text-heading a:hover {
  color: #c49029;
}

.textarea {
  width: 700px;
  display: inline-block;
}

.text-heading {
  font-size: 22.4px;
  color: #111;
  padding-bottom: 20px;
}

.text {
  font-size: 16.884px;
  color: #666;
}

.text-box {
  padding-bottom: 60px;
}

.page-list {
  font-size: 0;
}

.page-list li {
  display: inline-block;
  font-size: 16.884px;
  color: #333;
  border: solid 1px #ccc;
  margin-right: 6px;
  opacity: 0.5;
  transition: all 0.3s;
}

.page-list li a {
  display: block;
  padding: 8px 18px;
  background-color: #c49029;
}

.page-list li:hover {
  opacity: 1;
}

.page-list .this {
  background-color: #eee;
  color: #333;
  opacity: 1;
}

.page-list {
  text-align: center;
}